 /* Estilos Basicos*/
body{
    margin: 0;
    font-family: Arial;
    box-shadow: inset 0 0 0 1000px hsla(0,0%,100%,.8);            
}

/*Fin Estilos Basicos*/

/*Estilos Contenedor General*/
.contenedor_general{
	margin: auto;
	background-color:#d8d8d8;
	border-radius: 5px;

}

.top-image{
    background-position: 50% 0;
    height: 100px;
    padding: 50px 5x|0px;
	background-color: #E26029;
	background-image: url(../images/top-image.png);
	background-repeat: no-repeat;
	border-radius: 5px 5px 0 0;
}

.global_form{
	width: 90%;
	margin: auto;
	border-width: 5px;
	border-radius: 5px;
}
.global-form h3{
	font-size: 20px;
	color: blue;
}
.actionbuttons{
    padding: 20px 0 0 0;
}




/*Fin Estilos Contenedor General*/


